<!DOCTYPE html>
<html lang="en">
<style>
    #video-container {
  width: 800px;
  height: 600px;
}
.container {
  width: 100%;
  display: flex;
}
.right {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  right: 0;

  /* position: fixed; */
}

.border{
    display: flex;
    width: 100%;
    border: 1px solid black;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 20px;
}
.left {
    display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: bottom;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: 85vh;
  align-items: center;
}
.iteml{
    width: 40%;
  padding-top: middle;
  
}
.itemr{
    width: 60%;
    /* border:1px solid black; */
    padding:20px;
}

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='freetrailcss.css') }}">
    <title>Document</title>
</head>
<body >
    <header class="main-header">
        <div class="header-nav">
            <a href="#" class="logo link">YOGA</a>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/home" class="nav-link link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/reminders" class="nav-link link">Reminders</a>
                    </li>
                    <li class="nav-item">
                        <a href="/poses" class="nav-link link">Poses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/suggestedroutines" class="nav-link link">RoutinesToDo</a>
                    </li>
                    <li class="nav-item">
                        <a href="/recomendations" class="nav-link link">ML Recomendations</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link link">Blogs</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="/triedbyyou" class="nav-link link">Yours Stuff</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link link">logout</i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 style="text-align: center;">{{name}}</h1>
    <div class="container">
        <div class="left">
            {% for url in url_list %}
            <h2> {{url['english_name']}}</h2>
            <br><br><br><br>
            <div class = "border">
                <div class="iteml">
                    <button id="url['english_name']" onclick="speak('{{url.Benefits}}')"><a href="#" class="image-link" id={{url}} data-image="{{url['english_name']}}">
                        <img style="width:250px;height: 250px;" src="{{ url_for('static', filename='images/'+'images'+url['english_name']+'_3'+'.jpg') }}" alt="{{ url}}">
                    </a></button>
                    <!-- <p>{{url['english_name']}}</p> -->
                </div>
                <div class="itemr">
                    <!-- <b>category_name:</b>{{url['category_name']}}<br> -->
                    <b>english_name:</b>{{url['english_name']}}<br>
                    <!-- <b>sanskrit_name_adapted:</b>{{url['sanskrit_name_adapted']}}<br> -->
                    <!-- <b>sanskrit_name :</b> {{url['sanskrit_name']}}<br> -->
                    <!-- <b>translation_name:</b>{{url['translation_name']}}<br> -->
                    <!-- <b>pose_description:</b>{{url['pose_description']}}<br> -->
                    <b>pose_benefits:</b>{{url['Benefits']}}<br>
                </div>
            </div>
            <!-- <button onclick="speak('{{url.pose_description}}')">Click me!</button> -->
            <script>
                var synth = window.speechSynthesis;
                var utterance;
              
                function speak(description) {
                  if (synth.speaking) {
                    synth.cancel();
                  }
                  utterance = new SpeechSynthesisUtterance(description);
                  utterance.rate = 1;
                  synth.speak(utterance);
                }
              
                function stopSpeaking() {
                  synth.cancel();
                }
              
                window.addEventListener('beforeunload', function() {
                  stopSpeaking();
                });
              
                var buttons = document.querySelectorAll('id');
                for (var i = 0; i < buttons.length; i++) {
                  buttons[i].addEventListener('click', function() {
                    stopSpeaking();
                  });
                }
              
                window.addEventListener('unload', function() {
                  stopSpeaking();
                });
              </script>

            {% endfor %}
        </div>
        <div class="right">
            <h1>LIVE STREAMING</h1>
            <div   id="video-container"></div>
        </div>
    </div>
</body>

<script>
    // get all anchor tags with class "image-link"
    const imageLinks = document.querySelectorAll('.image-link');

    // attach a click event listener to each anchor tag
    imageLinks.forEach(link => {
        link.addEventListener('click', (event) => {
            // prevent the default behavior of navigating to a new page
            event.preventDefault();

            // get the image filename from the "data-image" attribute
            const imageFilename = link.dataset.image;

            // create a new iframe element with the video feed URL and image filename
            const iframe = document.createElement('iframe');
            iframe.src = '/video_feedy?image_path=' + imageFilename;
            iframe.frameBorder = 0;
            iframe.allowFullscreen = false;
            iframe.width = '1163px';
            iframe.height = '1000px';
            iframe.style.transform = 'scale(0.6)';
            iframe.style.transformOrigin = '0 0';
            // remove any existing iframes from the video container
            const videoContainer = document.getElementById('video-container');
            videoContainer.innerHTML = '';

            // append the new iframe to the video container
            videoContainer.appendChild(iframe);
        });
    });
</script>

</html>